<%= form_for(@hop_inventory) do |f| %>
  <% if @hop_inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hop_inventory.errors.count, "error") %> prohibited this hop_inventory from being saved:</h2>

      <ul>
      <% @hop_inventory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hop %><br />
    <%= f.select :hop, Hop.all.collect {|c| [c.name, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :hop_supplier %><br />
    <%= f.select :hop_supplier, HopSupplier.all.collect {|c| [c.name, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :crop_year %><br />
    <%= f.number_field :crop_year %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
