<%= form_for(@hop_inventory) do |f| %>
  <% if @hop_inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hop_inventory.errors.count, "error") %> prohibited this hop_inventory from being saved:</h2>

      <ul>
      <% @hop_inventory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hop_id %><br />
    <%= f.select :hop_id, Hop.all.collect {|c| [c.name, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :hop_supplier_id %><br />
    <%= f.select :hop_supplier_id, HopSupplier.all.collect {|c| [c.name, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :crop_year %><br />
    <%= f.text_field :crop_year %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
    <%= f.select :unit, options_for_select(["kg", "lb", "oz", "g"])%>
  </div>
  <div class="field">
    <%= f.label :hop_type %><br />
    <%= f.select :hop_type, options_for_select(["Whole", "Pellet", "Plug"])%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
