<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "hop_id", "Hop" %></th>
      <th><%= sortable "hop_supplier_id", "Hop Supplier" %></th>
      <th><%= sortable "crop_year" %></th>
      <th><%= sortable "amount" %></th>
      <th><%= sortable "hop_type", "Type" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @hop_inventories.each do |hop_inventory| %>
    <tr>
      <td><%= link_to hop_inventory.hop.name, hop_inventory unless hop_inventory.hop.nil? %></td>
      <td><%= hop_inventory.hop_supplier.name unless hop_inventory.hop_supplier.nil? %></td>
      <td><%= hop_inventory.crop_year %></td>
      <td><%= Units.format_mass_for_user(hop_inventory.amount, current_user)%></td>
      <td><%= hop_inventory.hop_type %></td>
      <td>
        <div class="pull-right">
          <%= link_to 'Destroy', hop_inventory, method: :delete, data: { confirm: 'Are you sure?', type: 'json'}, remote: 'true', :rel => 'nofollow', :class => 'btn btn-mini btn-danger delete_row' %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @hop_inventories %>
