<h1>Listing Hop Inventory</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Hop</th>
      <th>Hop supplier</th>
      <th>Crop year</th>
      <th>Amount</th>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @hop_inventories.each do |hop_inventory| %>
    <tr>
      <td><%= link_to hop_inventory.hop.name, hop_inventory%></td>
      <td><%= hop_inventory.hop_supplier.name %></td>
      <td><%= hop_inventory.crop_year %></td>
      <td><%= "%0.2f" % hop_inventory.amount %></td>
      <td><%= hop_inventory.hop_type %></td>
      <td><%= link_to 'Edit', edit_hop_inventory_path(hop_inventory), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Destroy', hop_inventory, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Hop inventory', new_hop_inventory_path %>
