<p id="notice"><%= notice %></p>

<p>
  <b>Hop:</b>
  <%= @hop_inventory.hop.name unless @hop_inventory.hop.nil? %>
</p>

<p>
  <b>Hop supplier:</b>
  <%= @hop_inventory.hop_supplier.name unless @hop_inventory.hop_supplier.nil? %>
</p>

<p>
  <b>Crop year:</b>
  <%= @hop_inventory.crop_year %>
</p>

<p>
  <b>Amount:</b>
  <%= Units.format_mass_for_user(@hop_inventory.amount, current_user) %>
</p>

<p>
  <b>Type:</b>
  <%= @hop_inventory.hop_type %>
</p>

<p>
  <b>Storage Temp:</b>
  <%= @hop_inventory.storage_temp %>
</p>

<p>
  <b>Storage factor:</b>
  <%= @hop_inventory.storage_factor %>
</p>

<p>
  <b>Harvest Date:</b>
  <%= @hop_inventory.harvest_date %>
</p>

<p>
  <b>Hop Transactions:</b>
  <ul>
    <% @hop_inventory.hop_transactions.each do |t| %>
      <li> <%= link_to "%s, Added on %s" % [Units.format_mass_for_user(t.amount * t.quantity, current_user), t.created_at.localtime.strftime('%F %r')], t %> </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_hop_inventory_path(@hop_inventory) %> |
<%= link_to 'Back', hop_inventories_path %>
