<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.label 'New Password' %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  
  <div>
    <%= f.label :temp_units %><br />
    <%= f.select :temp_units, options_for_select(["C", "F"], :selected => current_user.temp_units)%>
  </div>

  <div>
    <%= f.label :mass_units %><br />
    <%= f.select :mass_units, options_for_select(["kg", "lb"], :selected => current_user.mass_units)%>
  </div>

  <div>
    <%= f.label :volume_units %><br />
    <%= f.select :volume_units, options_for_select(["bbl", "l", "gal"], :selected => current_user.volume_units)%>
  </div>

  <div>
    <%= f.label :length_units %><br />
    <%= f.select :length_units, options_for_select(["m", "ft"], :selected => current_user.length_units)%>
  </div>

  <div>
    <%= f.label :density_units %><br />
    <%= f.select :density_units, options_for_select(["plato", "sg"], :selected => current_user.density_units)%>
  </div>

  <div>
    <%= f.label :hop_formula %><br />
    <%= f.select :hop_formula, options_for_select(["tinseth", "rager"], :selected => current_user.hop_formula)%>
  </div>

  <div>
    <%= f.label :time_zone %><br />
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
  </div>


  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
