<%= form_for(@hop) do |f| %>
  <% if @hop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hop.errors.count, "error") %> prohibited this hop from being saved:</h2>

      <ul>
      <% @hop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :alpha %><br />
    <%= f.text_field :alpha %>
  </div>
  <div class="field">
    <%= f.label :beta %><br />
    <%= f.text_field :beta %>
  </div>
  <div class="field">
    <%= f.label :hop_supplier_id %>
    <%= f.select :hop_supplier_id, HopSupplier.all.collect {|c| [c.name, c.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
