<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "alpha" %></th>
      <th><%= sortable "beta" %></th>
      <th><%= sortable "hop_supplier_id", "Supplier" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @hops.each do |hop| %>
    <tr>
      <td><%= link_to hop.name, hop %></td>
      <td><%= hop.alpha %></td>
      <td><%= hop.beta %></td>
      <td><%= hop.hop_supplier.name unless hop.hop_supplier.nil? %></td>
      <td>
        <div class="pull-right">
          <%= link_to 'Edit', edit_hop_path(hop), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', hop, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @hops %>
