.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", hops_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_hop_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Hops
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.hop.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @hops.each do |hop|
          %tr{:class => cycle("odd", "even")}
            %td
              = hop.id
            %td
              = link_to hop.name, hop_path(hop)
            %td
              = hop.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", hop_path(hop)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_hop_path(hop)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", hop_path(hop), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
        = paginate @hops
- content_for :sidebar, render(:partial => 'sidebar')
