<h1>Listing hops</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Alpha</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hops.each do |hop| %>
  <tr>
    <td><%= hop.name %></td>
    <td><%= hop.alpha %></td>
    <td><%= link_to 'Show', hop %></td>
    <td><%= link_to 'Edit', edit_hop_path(hop) %></td>
    <td><%= link_to 'Destroy', hop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hop', new_hop_path %>
<%= link_to 'Back', home_index_path %>
