<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hop.name %>
</p>

<p>
  <b>Hop Supplier:</b>
  <%= @hop.hop_supplier.name unless @hop.hop_supplier.nil? %>
</p>

<p>
  <b>Year:</b>
  <%= @hop.year %>
</p>

<p>
  <b>Alpha:</b>
  <%= @hop.alpha %>
</p>

<p>
  <b>Beta:</b>
  <%= @hop.beta %>
</p>

<p>
  <b>HSI:</b>
  <%= @hop.hsi %>
</p>

<%= link_to 'Edit', edit_hop_path(@hop) %> |
<%= link_to 'Back', hops_path %>
