<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :style_id %><br />
    <%= f.select :style_id, Style.all.collect {|c| [c.name, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :target_og %><br />
    <%= f.text_field :target_og %>
  </div>
  <div class="field">
    <%= f.label :target_fg %><br />
    <%= f.text_field :target_fg %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :yeast_id %><br />
    <%= f.select :yeast_id, Yeast.all.collect {|c| [c.name, c.id]} %>
  </div>
  <div class="field">
    <% f.fields_for :minerals do |mineral| %>
      <%= mineral.label :minerals %><br />
      <%= mineral.collection_select(:mineral_id, Mineral.all, :name, :id) %>
    <% end %>
  </div>
  <div class="field">
    <% f.fields_for :grains do |mineral| %>
      <%= mineral.label :grains %><br />
      <%= mineral.collection_select(:grain_id, Grain.all, :name, :id) %>
    <% end %>
  </div>
  <div class="field">
    <% f.fields_for :hops do |mineral| %>
      <%= mineral.label :hops %><br />
      <%= mineral.collection_select(:hop_id, Hop.all, :name, :id) %>
    <% end %>
  </div>
  <div class="field">
    <% f.fields_for :mash_steps do |mineral| %>
      <%= mineral.label :mash_steps %><br />
      <%= mineral.collection_select(:mash_step_id, MashType.all, :name, :id) %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :boil_time %><br />
    <%= f.text_field :boil_time %>
  </div>
  <div class="field">
    <%= f.label :ibu %><br />
    <%= f.text_field :ibu %>
  </div>
  <div class="field">
    <%= f.label :abv %><br />
    <%= f.text_field :abv %>
  </div>
  <div class="field">
    <%= f.label :srm %><br />
    <%= f.text_field :srm %>
  </div>
  <div class="field">
    <%= f.label :pitch_temperature %><br />
    <%= f.text_field :pitch_temperature %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
