<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "style_id" %></th>
      <th><%= sortable "target_og", "OG" %></th>
      <th><%= sortable "target_fg", "FG" %></th>
      <th><%= sortable "size" %></th>
      <th><%= sortable "ibu" %></th>
      <th><%= sortable "abv" %></th>
      <th><%= sortable "srm" %></th>
      <th><%= sortable "creation_date" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.name, recipe %></td>
        <td><%= recipe.style.name %></td>
        <td><%= Units.format_density_for_user(recipe.target_og, current_user) %></td>
        <td><%= Units.format_density_for_user(recipe.target_fg, current_user) %></td>
        <td><%= Units.format_volume_for_user(recipe.size, current_user) %></td>
        <td><%= recipe.ibu %></td>
        <td><%= recipe.abv %></td>
        <td><%= recipe.srm %></td>
        <td><%= recipe.creation_date %></td>
        <td>
          <div class="pull-right">
            <%= link_to 'Edit', edit_recipe_path(recipe), :class => 'btn btn-mini' %>
            <%= link_to 'Clone', duplicate_recipe_path(recipe), :class => 'btn btn-mini' %>
            <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?', type: 'json'}, remote: 'true', :rel => 'nofollow', :class => 'btn btn-mini btn-danger delete_row' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @recipes %>
