<tr>
  <td> <%= f.text_field :hop_virt_attr %> </td>
  <%= f.hidden_field :hop_id %> 
  <td> <%= f.text_field :amount %> </td>
  <td> <%= f.select :unit, options_for_select(["kg", "lb", "oz", "g"], :selected => current_user.mass_units) %> </td>
  <td> <%= f.text_field :time %> </td>
  <td> <%= link_to raw('<i class="icon-remove"></i>'), "#", :class => 'remove_fields' %> </td>
</tr>
