<h1>Listing Recipes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Style</th>
      <th>OG</th>
      <th>FG</th>
      <th>Size</th>
      <th>Ibu</th>
      <th>Abv</th>
      <th>Srm</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.style.name %></td>
        <td><%= recipe.target_og %></td>
        <td><%= recipe.target_fg %></td>
        <td><%= "%0.2f L" % recipe.size %></td>
        <td><%= recipe.ibu %></td>
        <td><%= recipe.abv %></td>
        <td><%= recipe.srm %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe), :class => 'btn btn-mini pull-right' %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger pull-right' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Recipe', new_recipe_path %>
<%= will_paginate @recipes %>
