<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Style:</b>
  <%= @recipe.style.name unless @recipe.style.nil? %>
</p>

<p>
  <b>Target og:</b>
  <%= @recipe.target_og %>
</p>

<p>
  <b>Calculated og:</b>
  <%= "%0.2f" % @recipe.calculated_og %>
</p>

<p>
  <b>Target fg:</b>
  <%= @recipe.target_fg %>
</p>

<p>
  <b>Size:</b>
  <%= @recipe.size %>
</p>

<p>
  <b>Yeast:</b>
  <%= @recipe.yeast.name unless @recipe.yeast.nil? %>
</p>

<p>
  <b>Boil time:</b>
  <%= @recipe.boil_time %>
</p>

<p>
  <b>Ibu:</b>
  <%= @recipe.ibu %>
</p>

<p>
  <b>Calculated Ibu:</b>
  <%= "%0.2f" % @recipe.calculated_ibu %>
</p>

<p>
  <b>Abv:</b>
  <%= @recipe.abv %>
</p>

<p>
  <b>Calculated Abv:</b>
  <%= "%0.2f" % @recipe.calculated_abv %>
</p>

<p>
  <b>Srm:</b>
  <%= @recipe.srm %>
</p>

<p>
  <b>Pitch temperature:</b>
  <%= @recipe.pitch_temperature %>
</p>

<p>
  <b>Grains:</b>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Calculated OG</th>
      </tr>
    </thead>
    <tbody>
    <% @recipe.recipe_grains.each do |recipe_grain| %>
      <tr>
        <td><%= recipe_grain.grain.name %></td>
        <td><%= recipe_grain.amount %></td>
        <td> <%= "%0.2f" % recipe_grain.calculated_og %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</p>

<p>
  <b>Hops:</b>
  <ul>
    <% @recipe.recipe_hops.each do |recipe_hop| %>
      <li>
        <%= recipe_hop.hop.name %>
        <%= recipe_hop.amount %>
        <%= "%0.2f" % recipe_hop.calculated_ibu %>
      </li>
    <% end %>
  </ul>
</p>

<p>
  <b>Mash Steps:</b>
  <ul>
    <% @recipe.recipe_mashes.each do |recipe_mashes| %>
      <li>
        <%= recipe_mashes.mash_type.name %>
        <%= recipe_mashes.temperature%>
      </li>
    <% end %>
  </ul>
</p>

<p>
  <b>Minerals:</b>
  <ul>
    <% @recipe.recipe_minerals.each do |recipe_mineral| %>
      <li>
        <%= recipe_mineral.mineral.name %>
        <%= recipe_mineral.amount %>
      </li>
    <% end %>
  </ul>
</p>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
