<%= form_for(@grain_inventory) do |f| %>
  <% if @grain_inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grain_inventory.errors.count, "error") %> prohibited this grain_inventory from being saved:</h2>

      <ul>
      <% @grain_inventory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
    <%= f.select :unit, options_for_select(["kg", "lb"])%>
  </div>
  <div class="field">
    <%= f.label :grain_id %><br />
    <%= f.select :grain_id, Grain.all.collect {|c| [c.name, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :grain_supplier_id %><br />
    <%= f.select :grain_supplier_id, GrainSupplier.all.collect {|c| [c.name, c.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
