<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "grain_id", "Grain name" %></th>
      <th><%= sortable "grain_supplier_id", "Grain Supplier" %></th>
      <th><%= sortable "amount" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @grain_inventories.each do |grain_inventory| %>
    <tr>
      <td><%= link_to grain_inventory.grain.name, grain_inventory unless grain_inventory.grain.nil? %></td>
      <td><%= grain_inventory.grain_supplier.name unless grain_inventory.grain_supplier.nil? %></td>
      <td><%= Units.format_mass_for_user(grain_inventory.amount,current_user) %></td>
      <td>
        <div class="pull-right">
          <%= link_to 'Destroy', grain_inventory, method: :delete, data: { confirm: 'Are you sure?', type: 'json'}, remote: 'true', :rel => 'nofollow', :class => 'btn btn-mini btn-danger delete_row' %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @grain_inventories %>
