<h1>Listing Grain Inventory</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Grain name</th>
      <th>Grain Supplier</th>
      <th>Amount</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @grain_inventories.each do |grain_inventory| %>
    <tr>
      <td><%= link_to grain_inventory.grain.name, grain_inventory unless grain_inventory.grain.nil? %></td>
      <td><%= grain_inventory.grain_supplier.name unless grain_inventory.grain_supplier.nil? %></td>
      <td><%= "%0.2f" % grain_inventory.amount %></td>
      <td><%= link_to 'Edit', edit_grain_inventory_path(grain_inventory), :class => 'btn btn-mini pull-right' %></td>
      <td><%= link_to 'Destroy', grain_inventory, :method => :delete, :confirm => 'Are you sure?' , :class => 'btn btn-mini btn-danger pull-right' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Grain inventory', new_grain_inventory_path %>
<%= link_to 'Back', home_index_path %>
<%= will_paginate @grain_inventories %>
