<h1>Listing grain_inventories</h1>

<table>
  <tr>
    <th>Grain name</th>
    <th>Grain Supplier</th>
    <th>Amount</th>
    <th></th>
    <th></th>
  </tr>

<% @grain_inventories.each do |grain_inventory| %>
  <tr>
    <td><%= grain_inventory.grain.name %></td>
    <td><%= grain_inventory.grain_supplier.name %></td>
    <td><%= "%0.2f" % grain_inventory.amount %></td>
    <td><%= link_to 'Show', grain_inventory %></td>
    <td><%= link_to 'Edit', edit_grain_inventory_path(grain_inventory) %></td>
    <td><%= link_to 'Destroy', grain_inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grain inventory', new_grain_inventory_path %>
<%= link_to 'Back', home_index_path %>
