<p id="notice"><%= notice %></p>

<p>
  <b>Grain Name:</b>
  <%= @grain_inventory.grain.name unless @grain_inventory.grain.nil? %>
</p>

<p>
  <b>Grain Supplier:</b>
  <%= @grain_inventory.grain_supplier.name unless @grain_inventory.grain_supplier.nil? %>
</p>

<p>
  <b>Amount:</b>
  <%= "%0.2f" % @grain_inventory.amount %>
</p>

<%= link_to 'Edit', edit_grain_inventory_path(@grain_inventory) %> |
<%= link_to 'Back', grain_inventories_path %>
