<p id="notice"><%= notice %></p>

<p>
  <b>Grain Name:</b>
  <%= @grain_inventory.grain.name %>
</p>

<p>
  <b>Amount:</b>
  <%= @grain_inventory.amount %>
</p>

<%= link_to 'Edit', edit_grain_inventory_path(@grain_inventory) %> |
<%= link_to 'Back', grain_inventories_path %>
