<h2> Hop Management </h2>
<ul>
  <li><%= link_to "Hops", hops_path %></li>
  <li><%= link_to "Hop Suppliers", hop_suppliers_path %></li>
  <li><%= link_to "Hop Inventory", hop_inventories_path %></li>
  <li><%= link_to "Hop Transactions", hop_transactions_path %></li>
</ul>
<h2> Grain Management </h2>
<ul>
  <li><%= link_to "Grains", grains_path %></li>
  <li><%= link_to "Grain Inventory", grain_inventories_path %></li>
  <li><%= link_to "Grain Suppliers", grain_suppliers_path %></li>
  <li><%= link_to "Grain Transactions", grain_transactions_path %></li>
</ul>
<h2> Batch Management </h2>
<ul>
  <li><%= link_to "Fermenter", fermenters_path %></li>
</ul>
