<h2> Hop Management </h2>
<ul>
  <li><%= link_to "Hops", hops_path %></li>
  <li><%= link_to "Hop Suppliers", hop_suppliers_path %></li>
  <li><%= link_to "Hop Inventory", hop_inventories_path %></li>
</ul>
<h2> Grain Management </h2>
<ul>
  <li><%= link_to "Grain", grains_path %></li>
  <li><%= link_to "Grain Inventory", grain_inventories_path %></li>
  <li><%= link_to "Grain Supplier", grain_suppliers_path %></li>
</ul>
<h2> Batch Management </h2>
<ul>
  <li><%= link_to "Fermenter", fermenters_path %></li>
</ul>
<h2> Miscellaneous </h2>
<ul>
  <li><%= link_to "Brewer", brewers_path%></li>
</ul>
