<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @hop_suppliers.each do |hop_supplier| %>
    <tr>
      <td><%= link_to hop_supplier.name, hop_supplier%></td>
      <td>
        <div class="pull-right">
          <%= link_to 'Edit', edit_hop_supplier_path(hop_supplier), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', hop_supplier, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @hop_suppliers %>
