<h1>Listing Hop Suppliers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @hop_suppliers.each do |hop_supplier| %>
    <tr>
      <td><%= link_to hop_supplier.name, hop_supplier%></td>
      <td><%= link_to 'Edit', edit_hop_supplier_path(hop_supplier), :class => 'btn btn-mini pull-right' %></td>
      <td><%= link_to 'Destroy', hop_supplier, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger pull-right' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Hop supplier', new_hop_supplier_path %>
<%= link_to 'Back', home_index_path %>
<%= will_paginate @hop_suppliers %>
