<h1>Listing hop_suppliers</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hop_suppliers.each do |hop_supplier| %>
  <tr>
    <td><%= hop_supplier.name %></td>
    <td><%= link_to 'Show', hop_supplier %></td>
    <td><%= link_to 'Edit', edit_hop_supplier_path(hop_supplier) %></td>
    <td><%= link_to 'Destroy', hop_supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hop supplier', new_hop_supplier_path %>
