<%= form_for(@style) do |f| %>
  <% if @style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@style.errors.count, "error") %> prohibited this style from being saved:</h2>

      <ul>
      <% @style.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.number_field :category %>
  </div>
  <div class="field">
    <%= f.label :sub_category %><br />
    <%= f.text_field :sub_category %>
  </div>
  <div class="field">
    <%= f.label :og_range_low %><br />
    <%= f.text_field :og_range_low %>
    <%= f.select :og_low_density_unit, options_for_select(["plato", "sg"], :selected => current_user.density_units) %>
  </div>
  <div class="field">
    <%= f.label :og_range_high %><br />
    <%= f.text_field :og_range_high %>
    <%= f.select :og_high_density_unit, options_for_select(["plato", "sg"], :selected => current_user.density_units) %>
  </div>
  <div class="field">
    <%= f.label :fg_range_low %><br />
    <%= f.text_field :fg_range_low %>
    <%= f.select :fg_low_density_unit, options_for_select(["plato", "sg"], :selected => current_user.density_units) %>
  </div>
  <div class="field">
    <%= f.label :fg_range_high %><br />
    <%= f.text_field :fg_range_high %>
    <%= f.select :fg_high_density_unit, options_for_select(["plato", "sg"], :selected => current_user.density_units) %>
  </div>
  <div class="field">
    <%= f.label :ibu_range_low %><br />
    <%= f.text_field :ibu_range_low %>
  </div>
  <div class="field">
    <%= f.label :ibu_range_high %><br />
    <%= f.text_field :ibu_range_high %>
  </div>
  <div class="field">
    <%= f.label :srm_range_low %><br />
    <%= f.text_field :srm_range_low %>
  </div>
  <div class="field">
    <%= f.label :srm_range_high %><br />
    <%= f.text_field :srm_range_high %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
