<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "category" %></th>
      <th><%= sortable "og_range_low" ,"OG Range" %></th>
      <th><%= sortable "fg_range_low" ,"FG Range" %></th>
      <th><%= sortable "ibu_range_low" ,"IBU Range" %></th>
      <th><%= sortable "srm_range_low" ,"SRM Range" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= link_to style.name, style %></td>
        <td><%= "%s%s" % [style.category,style.sub_category] %></td>
        <td><%= "%0.3f - %0.3f" % [Units.format_density_for_user(style.og_range_low,current_user), Units.format_density_for_user(style.og_range_high,current_user)] %></td>
        <td><%= "%0.3f - %0.3f" % [Units.format_density_for_user(style.fg_range_low,current_user), Units.format_density_for_user(style.fg_range_high,current_user)] %></td>
        <td><%= "%d - %d" % [style.ibu_range_low, style.ibu_range_high] %></td>
        <td><%= "%d - %d" % [style.srm_range_low, style.srm_range_high] %></td>
        <td>
          <div class="pull-right">
          <%= link_to 'Edit', edit_style_path(style), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', style, method: :delete, data: { confirm: 'Are you sure?', type: 'json'}, remote: 'true', :rel => 'nofollow', :class => 'btn btn-mini btn-danger delete_row' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @styles %>
