<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "category" %></th>
      <th><%= sortable "og_range_low" ,"OG low" %></th>
      <th><%= sortable "og_range_high", "OG high" %></th>
      <th><%= sortable "fg_range_low" ,"FG low" %></th>
      <th><%= sortable "fg_range_high", "FG high" %></th>
      <th><%= sortable "ibu_range_low" ,"IBU low" %></th>
      <th><%= sortable "ibu_range_high", "IBU high" %></th>
      <th><%= sortable "srm_range_low" ,"SRM low" %></th>
      <th><%= sortable "srm_range_high", "SRM high" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= link_to style.name, style %></td>
        <td><%= "%s%s" % [style.category,style.sub_category] %></td>
        <td><%= "%0.2f" % style.og_range_low %></td>
        <td><%= "%0.2f" % style.og_range_high %></td>
        <td><%= "%0.2f" % style.fg_range_low %></td>
        <td><%= "%0.2f" % style.fg_range_high %></td>
        <td><%= style.ibu_range_low %></td>
        <td><%= style.ibu_range_high %></td>
        <td><%= style.srm_range_low %></td>
        <td><%= style.srm_range_high %></td>
        <td><%= link_to 'Edit', edit_style_path(style), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Destroy', style, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @styles %>
