<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @style.name %>
</p>

<p>
  <b>Category:</b>
  <%= @style.category %>
</p>

<p>
  <b>Sub category:</b>
  <%= @style.sub_category %>
</p>

<p>
  <b>OG range:</b>
  <%= "%0.3f - %0.3f" % [Units.format_density_for_user(@style.og_range_low,current_user), Units.format_density_for_user(@style.og_range_high,current_user)] %>
</p>

<p>
  <b>FG range:</b>
  <%= "%0.3f - %0.3f" % [Units.format_density_for_user(@style.fg_range_low,current_user), Units.format_density_for_user(@style.fg_range_high,current_user)] %>
</p>

<p>
  <b>IBU range:</b>
  <%= "%0.2f - %0.2f" % [@style.ibu_range_low,@style.ibu_range_high] %>
</p>

<p>
  <b>SRM range:</b>
  <%= "%0.2f - %0.2f" % [@style.srm_range_low,@style.srm_range_high] %>
</p>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
