<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @style.name %>
</p>

<p>
  <b>Category:</b>
  <%= @style.category %>
</p>

<p>
  <b>Sub category:</b>
  <%= @style.sub_category %>
</p>

<p>
  <b>Og range low:</b>
  <%= @style.og_range_low %>
</p>

<p>
  <b>Og range high:</b>
  <%= @style.og_range_high %>
</p>

<p>
  <b>Fg range low:</b>
  <%= @style.fg_range_low %>
</p>

<p>
  <b>Fg range high:</b>
  <%= @style.fg_range_high %>
</p>

<p>
  <b>Ibu range low:</b>
  <%= @style.ibu_range_low %>
</p>

<p>
  <b>Ibu range high:</b>
  <%= @style.ibu_range_high %>
</p>

<p>
  <b>Srm range low:</b>
  <%= @style.srm_range_low %>
</p>

<p>
  <b>Srm range high:</b>
  <%= @style.srm_range_high %>
</p>


<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
