<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "grain_id", "Grain name" %></th>
      <th><%= sortable "grain_supplier_id", "Grain Supplier" %></th>
      <th><%= sortable "quantity" %></th>
      <th><%= sortable "amount" , "Unit Amount" %></th>
      <th>Total</th>
      <th><%= sortable "updated_at" , "Last Updated" %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @grain_transactions.each do |grain_transaction| %>
      <tr>
        <td><%= link_to grain_transaction.grain.name, grain_transaction %></td>
        <td><%= grain_transaction.grain_supplier.name unless grain_transaction.grain_supplier.nil? %></td>
        <td><%= "%d units" % grain_transaction.quantity %></td>
        <td><%= Units.format_mass_for_user(grain_transaction.amount, current_user)%></td>
        <td><%= Units.format_mass_for_user(grain_transaction.amount * grain_transaction.quantity, current_user) %></td>
        <td><%= grain_transaction.updated_at.localtime.strftime('%F %r') %></td>
        <td>
          <div class="pull-right">
            <%= link_to 'Edit', edit_grain_transaction_path(grain_transaction), :class=> 'btn btn-mini' %>
            <%= link_to 'Destroy', grain_transaction, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @grain_transactions %>
