<h1>Listing grain_transactions</h1>

<table>
  <tr>
    <th>Grain</th>
    <th>Grain supplier</th>
    <th>Quantity</th>
    <th>Unit amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grain_transactions.each do |grain_transaction| %>
  <tr>
    <td><%= grain_transaction.grain %></td>
    <td><%= grain_transaction.grain_supplier %></td>
    <td><%= grain_transaction.quantity %></td>
    <td><%= grain_transaction.unit_amount %></td>
    <td><%= link_to 'Show', grain_transaction %></td>
    <td><%= link_to 'Edit', edit_grain_transaction_path(grain_transaction) %></td>
    <td><%= link_to 'Destroy', grain_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grain transaction', new_grain_transaction_path %>
