<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @grain_suppliers.each do |grain_supplier| %>
    <tr>
      <td><%= link_to grain_supplier.name, grain_supplier %></td>
      <td>
        <div class="pull-right">
          <%= link_to 'Edit', edit_grain_supplier_path(grain_supplier), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', grain_supplier, method: :delete, data: { confirm: 'Are you sure?', type: 'json'}, remote: 'true', :rel => 'nofollow', :class => 'btn btn-mini btn-danger delete_row' %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @grain_suppliers %>
