.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", grain_suppliers_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_grain_supplier_path
      %li.active= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_grain_supplier_path
  .content
    %h2.title
      = t("web-app-theme.edit", :default => "Edit")
      GrainSupplier
    .inner
      = form_for @grain_supplier, :url => grain_supplier_path(@grain_supplier), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
- content_for :sidebar, render(:partial => 'sidebar')
