<h1>Listing grain_suppliers</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grain_suppliers.each do |grain_supplier| %>
  <tr>
    <td><%= grain_supplier.name %></td>
    <td><%= link_to 'Show', grain_supplier %></td>
    <td><%= link_to 'Edit', edit_grain_supplier_path(grain_supplier) %></td>
    <td><%= link_to 'Destroy', grain_supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grain supplier', new_grain_supplier_path %>
<%= link_to 'Back', home_index_path %>
