<h1>Grain Suppliers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @grain_suppliers.each do |grain_supplier| %>
    <tr>
      <td><%= link_to grain_supplier.name, grain_supplier %></td>
      <td><%= link_to 'Edit', edit_grain_supplier_path(grain_supplier), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Destroy', grain_supplier, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to raw('<i class="icon-plus-sign icon-white"></i> New Grain Supplier'), new_grain_supplier_path, :class => 'btn btn-primary'%>
<%= will_paginate @grain_suppliers %>
