<h1>Listing grain_suppliers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @grain_suppliers.each do |grain_supplier| %>
    <tr>
      <td><%= link_to grain_supplier.name, grain_supplier %></td>
      <td><%= link_to 'Edit', edit_grain_supplier_path(grain_supplier), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Destroy', grain_supplier, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Grain supplier', new_grain_supplier_path %>
<%= link_to 'Back', home_index_path %>
