<h1>Grains used</h1>
<%= form_tag(reporting_grain_path, :method => :post) do %>
  <div class="field">
    <label for="start_date">Start Date</label>
    <%= text_field_tag 'start_date' %>
  </div>
  <div class="field">
    <label for="end_date">End Date</label>
    <%= text_field_tag 'end_date' %>
  </div>
  <div class="submit">
    <%= submit_tag "Generate Report" %>
  </div>
<% end %>
<h2>Grains Received Totals</h2>
<ul>
<% @grain_received_totals.each do |grain, amount| %>
<li> <%= "%0.2f of %s " % [ amount, grain.name] %>
<% end %>
</ul>

<h2>Grains Used Totals</h2>
<ul>
<% @grain_used_totals.each do |grain, amount| %>
<li> <%= "%0.2f of %s " % [ amount.abs, grain.name] %>
<% end %>
</ul>
