<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "recipe_id", "Recipe" %></th>
      <th><%= sortable "fermenter_id", "Fermenter" %></th>
      <th><%= sortable "brewer_id", "Brewer" %></th>
      <th><%= sortable "original_gravity", "OG" %></th>
      <th><%= sortable "finish_gravity", "FG" %></th>
      <th><%= sortable "yield" %></th>
      <th><%= sortable "date" %></th>
      <th><%= sortable "target_date" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td><%= link_to batch.recipe.name , batch %></td>
        <td><%= batch.fermenter.name unless batch.fermenter.nil? %></td>
        <td><%= batch.user.name unless batch.user.nil? %></td>
        <td><%= Units.format_density_for_user(batch.original_gravity, current_user) %></td>
        <td><%= Units.format_density_for_user(batch.finish_gravity, current_user) %></td>
        <td><%= Units.format_volume_for_user(batch.yield, current_user) %></td>
        <td><%= batch.date %></td>
        <td><%= batch.target_date %></td>
        <td>
          <div class="pull-right">
          <%= link_to 'Edit', edit_batch_path(batch), :class => 'btn btn-mini' %>
          <%= link_to 'Clone', duplicate_batch_path(batch), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?', type: 'json'}, remote: 'true', :rel => 'nofollow', :class => 'btn btn-mini btn-danger delete_row' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @batches %>
