<%= form_for(@batch) do |f| %>
  <% if @batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
      <% @batch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipe_id %><br />
    <%= f.select :recipe_id, Recipe.all.collect {|c| [c.name, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :fermenter_id %><br />
    <%= f.select :fermenter_id, Fermenter.all.collect {|c| [c.name, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :brewer_id %><br />
    <%= f.select :brewer_id, Brewer.all.collect {|c| [c.name, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :original_gravity %><br />
    <%= f.text_field :original_gravity %>
  </div>
  <div class="field">
    <%= f.label :finish_gravity %><br />
    <%= f.text_field :finish_gravity %>
  </div>
  <div class="field">
    <%= f.label :yield %><br />
    <%= f.text_field :yield %>
    <%= f.select :unit, options_for_select(["l", "gal", "bbl"])%>
  </div>
  <div class="field">
    <%= f.label :target_date %><br />
    <%= f.date_select :target_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
