<%= form_for(@batch) do |f| %>
  <% if @batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
      <% @batch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipe %><br />
    <%= f.text_field :recipe %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :fermenter %><br />
    <%= f.text_field :fermenter %>
  </div>
  <div class="field">
    <%= f.label :brewer %><br />
    <%= f.text_field :brewer %>
  </div>
  <div class="field">
    <%= f.label :original_gravity %><br />
    <%= f.text_field :original_gravity %>
  </div>
  <div class="field">
    <%= f.label :finish_gravity %><br />
    <%= f.text_field :finish_gravity %>
  </div>
  <div class="field">
    <%= f.label :yield %><br />
    <%= f.text_field :yield %>
  </div>
  <div class="field">
    <%= f.label :target_date %><br />
    <%= f.date_select :target_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
