<h1>Listing batches</h1>

<table>
  <tr>
    <th>Recipe</th>
    <th>Date</th>
    <th>Fermenter</th>
    <th>Brewer</th>
    <th>Original gravity</th>
    <th>Finish gravity</th>
    <th>Yield</th>
    <th>Target date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @batches.each do |batch| %>
  <tr>
    <td><%= batch.recipe %></td>
    <td><%= batch.date %></td>
    <td><%= batch.fermenter %></td>
    <td><%= batch.brewer %></td>
    <td><%= batch.original_gravity %></td>
    <td><%= batch.finish_gravity %></td>
    <td><%= batch.yield %></td>
    <td><%= batch.target_date %></td>
    <td><%= link_to 'Show', batch %></td>
    <td><%= link_to 'Edit', edit_batch_path(batch) %></td>
    <td><%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Batch', new_batch_path %>
