<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "yeast_manufacturer_id" %></th>
      <th><%= sortable "yeast_type" %></th>
      <th><%= sortable "attenuation_low", "Attenuation" %></th>
      <th><%= sortable "temp_low", "Temp Range" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @yeasts.each do |yeast| %>
    <tr>
      <td><%= link_to yeast.name, yeast%></td>
      <td><%= yeast.yeast_manufacturer.name unless yeast.yeast_manufacturer.nil? %></td>
      <td><%= yeast.yeast_type %></td>
      <td><%= "%d - %d %" % [yeast.attenuation_low, yeast.attenuation_high] %></td>
      <td><%= "%s - %s" % [Units.format_temp_for_user(yeast.temp_low, current_user), Units.format_temp_for_user(yeast.temp_high, current_user)] %></td>
      <td><%= link_to 'Edit', edit_yeast_path(yeast), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Destroy', yeast, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @yeasts %>
