<h1>Listing yeasts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Manufacturer</th>
    <th>Type</th>
    <th>Efficiency</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @yeasts.each do |yeast| %>
  <tr>
    <td><%= yeast.name %></td>
    <td><%= yeast.manufacturer %></td>
    <td><%= yeast.yeast_type %></td>
    <td><%= yeast.efficiency %></td>
    <td><%= link_to 'Show', yeast %></td>
    <td><%= link_to 'Edit', edit_yeast_path(yeast) %></td>
    <td><%= link_to 'Destroy', yeast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Yeast', new_yeast_path %>
