<h1>Listing Yeasts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Type</th>
      <th>Efficiency</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @yeasts.each do |yeast| %>
    <tr>
      <td><%= link_to yeast.name, yeast%></td>
      <td><%= yeast.yeast_manufacturer.name %></td>
      <td><%= yeast.yeast_type %></td>
      <td><%= yeast.efficiency %></td>
      <td><%= link_to 'Edit', edit_yeast_path(yeast), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Destroy', yeast, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Yeast', new_yeast_path %>
<%= will_paginate @yeasts %>
