<h1>Listing grains</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Extract potential</th>
    <th>Color</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grains.each do |grain| %>
  <tr>
    <td><%= grain.name %></td>
    <td><%= grain.extract_potential %></td>
    <td><%= grain.color %></td>
    <td><%= link_to 'Show', grain %></td>
    <td><%= link_to 'Edit', edit_grain_path(grain) %></td>
    <td><%= link_to 'Destroy', grain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grain', new_grain_path %>
<%= link_to 'Back', home_index_path %>
