<h1>Listing Grains</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Extract potential</th>
      <th>Color</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @grains.each do |grain| %>
    <tr>
      <td><%= link_to grain.name, grain %></td>
      <td><%= grain.extract_potential %></td>
      <td><%= grain.color %></td>
      <td><%= link_to 'Edit', edit_grain_path(grain), :class => 'btn btn-mini pull-right' %></td>
      <td><%= link_to 'Destroy', grain, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger pull-right' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Grain', new_grain_path %>
<%= link_to 'Back', home_index_path %>
<%= will_paginate @grains %>
