<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @grain.name %>
</p>

<p>
  <b>Extract potential:</b>
  <%= @grain.extract_potential %>
</p>

<p>
  <b>Color:</b>
  <%= @grain.color %>
</p>


<%= link_to 'Edit', edit_grain_path(@grain) %> |
<%= link_to 'Back', grains_path %>
