<p id="notice"><%= notice %></p>

<p>
  <b>Hop supplier:</b>
  <%= @hop_contract.hop_supplier.name %>
</p>

<p>
  <b>Hop:</b>
  <%= @hop_contract.hop.name %>
</p>

<p>
  <b>Contract Year:</b>
  <%= @hop_contract.contract_year %>
</p>

<p>
  <b>Harvest Date:</b>
  <%= @hop_contract.harvest_date %>
</p>

<p>
  <b>Contract amount:</b>
  <%= Units.format_mass_for_user(@hop_contract.contract_amount, current_user) %>
</p>

<p>
  <b>Used amount:</b>
  <%= Units.format_mass_for_user(@hop_contract.used_amount, current_user) %>
</p>


<%= link_to 'Edit', edit_hop_contract_path(@hop_contract) %> |
<%= link_to 'Back', hop_contracts_path %>
