<p id="notice"><%= notice %></p>

<p>
  <b>Hop supplier:</b>
  <%= @hop_contract.hop_supplier.name %>
</p>

<p>
  <b>Hop:</b>
  <%= @hop_contract.hop.name %>
</p>

<p>
  <b>Contract Year:</b>
  <%= @hop_contract.contract_year %>
</p>

<p>
  <b>Harvest Date:</b>
  <%= @hop_contract.harvest_date %>
</p>

<p>
  <b>Contract amount:</b>
  <%= Units.format_mass_for_user(@hop_contract.contract_amount, current_user) %>
</p>

<p>
  <b>Remaining amount:</b>
  <%= Units.format_mass_for_user(@hop_contract.remaining_amount, current_user) %>
</p>

<p>
  <b>Transactions:</b>
  <ul>
    <% @hop_contract.hop_transactions.each do |ht| %>
      <li><%= "%s - %s" % [Units.format_mass_for_user(ht.total_amount, current_user), ht.updated_at]%></li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_hop_contract_path(@hop_contract) %> |
<%= link_to 'Back', hop_contracts_path %>
