<%= form_for(@hop_transaction) do |f| %>
  <% if @hop_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hop_transaction.errors.count, "error") %> prohibited this hop_transaction from being saved:</h2>

      <ul>
      <% @hop_transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="btn-group" data-toggle="buttons-radio">
    <button id="hop_transaction_contract" type="button" class="btn active">Contract</button>
    <button id="hop_transaction_non_contract" type="button" class="btn ">Non-Contract</button>
  </div>
    
  <div id="manual_entry_fields" hidden=<%@hop_transaction.hop_contract.nil?.to_s%>>
    <%= render 'hop_manual_entry', :f => f %>
  </div>
  <div id="contract_fields" hidden=<%(not @hop_transaction.hop_contract.nil?).to_s%>>
    <%= render 'hop_contract', :f => f %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
    <%= f.select :unit, options_for_select(["kg", "lb", "oz", "g"], :selected => current_user.mass_units) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
