<%= form_for(@hop_transaction) do |f| %>
  <% if @hop_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hop_transaction.errors.count, "error") %> prohibited this hop_transaction from being saved:</h2>

      <ul>
      <% @hop_transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="btn-group" data-toggle="buttons-radio">
    <% contract_yup = true if @hop_transaction.new_record? or not @hop_transaction.hop_contract.nil? %>
    <button id="hop_transaction_contract" type="button" class="btn <%= 'active' if contract_yup %>">Contract</button>
    <button id="hop_transaction_non_contract" type="button" class="btn <%= 'active' unless contract_yup %>">Non-Contract</button>
  </div>

  <%= hidden_field_tag "is_hop_contract", true %>
  <div id="contract_fields" <%="hidden" unless contract_yup %>>
    <%= render 'hop_contract', :f => f %>
  </div>
  <div id="manual_entry_fields" <%="hidden" if contract_yup %>>
    <%= render 'hop_manual_entry', :f => f %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
    <%= f.select :unit, options_for_select(["kg", "lb", "oz", "g"], :selected => current_user.mass_units) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
