<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-hover">
  <thead>
    <tr>
    <th><%= sortable "hop_id", "Hop" %></th>
    <th><%= sortable "hop_supplier_id", "Hop supplier" %></th>
    <th><%= sortable "hop_contract_id", "Hop contract?" %></th>
    <th><%= sortable "hop_year" %></th>
    <th><%= sortable "hop_type" %></th>
    <th><%= sortable "quantity" %></th>
    <th><%= sortable "unit_amount" %></th>
    <th><%= sortable "total" %></th>
    <th></th>
    </tr>
  </thead>
  <tbody>
    <% @hop_transactions.each do |hop_transaction| %>
      <tr>
        <td><%= link_to hop_transaction.hop.name, hop_transaction %></td>
        <td><%= hop_transaction.hop_supplier.name unless hop_transaction.hop_supplier.nil? %></td>
        <td>
          <div align=center>
            <%= hop_transaction.hop_contract_id ? raw('<i class="icon-ok"></i>') : raw('<i class="icon-remove"></i>') %>
          </div>
        </td>
        <td><%= hop_transaction.hop_year%></td>
        <td><%= hop_transaction.hop_type%></td>
        <td><%= "%d units" % hop_transaction.quantity %></td>
        <td><%= Units.format_mass_for_user(hop_transaction.amount, current_user)%></td>
        <td><%= Units.format_mass_for_user(hop_transaction.amount * hop_transaction.quantity, current_user) %></td>
        <td>
          <div class="pull-right">
            <%= link_to 'Edit', edit_hop_transaction_path(hop_transaction), :class => 'btn btn-mini' %>
            <%= link_to 'Destroy', hop_transaction, method: :delete, data: { confirm: 'Are you sure?', type: 'json'}, remote: 'true', :rel => 'nofollow', :class => 'btn btn-mini btn-danger delete_row' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @hop_transactions %>
