<h1>Listing Hop Transactions</h1>

<table class="table table-striped">
  <thead>
    <tr>
    <th>Hop</th>
    <th>Hop supplier</th>
    <th>Quantity</th>
    <th>Unit amount</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
    </tr>
  </thead>
  <tbody>
    <% @hop_transactions.each do |hop_transaction| %>
      <tr>
        <td><%= hop_transaction.hop.name %></td>
        <td><%= hop_transaction.hop_supplier.name %></td>
        <td><%= "%d units" % hop_transaction.quantity %></td>
        <td><%= "%0.2f kg" % hop_transaction.amount %></td>
        <td><%= "%0.2f kg" % (hop_transaction.amount * hop_transaction.quantity) %></td>
        <td><%= link_to 'Edit', edit_hop_transaction_path(hop_transaction), :class => 'btn btn-mini pull-right' %></td>
        <td><%= link_to 'Destroy', hop_transaction, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger pull-right' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Hop transaction', new_hop_transaction_path %>
<%= will_paginate @hop_transactions %>
