<p id="notice"><%= notice %></p>

<p>
  <b>Hop:</b>
  <%= @hop_transaction.hop.name unless @hop_transaction.hop.nil? %>
</p>

<p>
  <b>Hop supplier:</b>
  <%= @hop_transaction.hop_supplier.name unless @hop_transaction.hop_supplier.nil? %>
</p>

<p>
  <b>From Contract?</b>
  <%= not @hop_transaction.hop_contract.nil? %>
</p>

<p>
  <b>Hop Year:</b>
  <%= @hop_transaction.hop_year %>
</p>

<p>
  <b>Hop Type:</b>
  <%= @hop_transaction.hop_type %>
</p>

<p>
  <b>Quantity:</b>
  <%= @hop_transaction.quantity %>
</p>

<p>
  <b>Unit amount:</b>
  <%= Units.format_mass_for_user(@hop_transaction.amount, current_user) %>
</p>

<p>
  <b>Total amount:</b>
    <td><%= Units.format_mass_for_user(@hop_transaction.amount * @hop_transaction.quantity, current_user) %></td>
</p>

<%= link_to 'Edit', edit_hop_transaction_path(@hop_transaction) %> |
<%= link_to 'Back', hop_transactions_path %>
