<p id="notice"><%= notice %></p>

<p>
  <b>Hop:</b>
  <%= @hop_transaction.hop.name %>
</p>

<p>
  <b>Hop supplier:</b>
  <%= @hop_transaction.hop_supplier.name %>
</p>

<p>
  <b>Quantity:</b>
  <%= @hop_transaction.quantity %>
</p>

<p>
  <b>Unit amount:</b>
  <%= @hop_transaction.amount %>
</p>


<%= link_to 'Edit', edit_hop_transaction_path(@hop_transaction) %> |
<%= link_to 'Back', hop_transactions_path %>
