<%= link_to "BT5K", root_path, :class => 'brand' %>
<ul class="nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hops</a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to('Hops', hops_path)  %>  
      </li>
      <li>
        <%= link_to('Hop Suppliers', hop_suppliers_path)  %>  
      </li>
      <li>
        <%= link_to('Hop Inventory', hop_inventories_path)  %>  
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Grains</a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to('Grains', grains_path)  %>  
      </li>
      <li>
        <%= link_to('Grain Suppliers', grain_suppliers_path)  %>  
      </li>
      <li>
        <%= link_to('Grain Inventory', grain_inventories_path)  %>  
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recipes</a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to('Yeasts', yeasts_path)  %>  
      </li>
      <li>
        <%= link_to('Yeast Manufacturers', yeast_manufacturers_path)  %>  
      </li>
      <li>
        <%= link_to('Minerals', minerals_path)  %>  
      </li>
      <li>
        <%= link_to('Mash Types', mash_types_path)  %>  
      </li>
      <li>
        <%= link_to('Styles', styles_path)  %>  
      </li>
      <li>
        <%= link_to('Recipes', recipes_path)  %>  
      </li>
    </ul>
  </li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Batches</a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to('Fermenters', fermenters_path)  %>  
      </li>
    </ul>
  </li>
</ul>
<ul class="nav pull-right">
  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
</ul>
